[submodule "console"]
	path = console
	url = https://github.com/dualys/console.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/dualys/gateway.git
[submodule "tv"]
	path = tv
	url = https://github.com/dualys/tv.git
[submodule "iot"]
	path = iot
	url = https://github.com/dualys/iot.git
[submodule "server"]
	path = server
	url = https://github.com/dualys/server.git
[submodule "phone"]
	path = phone
	url = https://github.com/dualys/phone.git
[submodule "pc"]
	path = pc
	url = https://github.com/dualys/pc.git
